<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <div th:include="fragments/head"></div>
</head>
<body>

<div class="border border-light p-3 mb-4">

    <div class="d-flex align-items-center justify-content-center" style="height: 350px">
        <div class="container ">
            <div class="row justify-content-center">
                <div class="col-md-9 offset-md-3">
                    Looking for <a class="btn btn-success" th:href="@{/events}">your events?</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
